.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e373d;
  position: relative;
}

.notification__chat {
  background-color: #ff6229;
  color: white;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 17px;
  bottom: 15px;
}

.notification__menu {
  background-color: #ff6229;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: 35px;
}
