.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-space);
  margin-top: 5px;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons span {
  margin-left: 28px;
  font-size: 18px;
}
